/*!
 * Gridpak Beta CSS
 *
 * Generator - http://gridpak.com/
 * Created by @erskinedesign
 */
 
 

/* Reusable column setup */
[class*="grid"]{
    float:left;
}


.extra_grid{
    float: none !important;
    margin: 0 auto;
}



    @media screen and (min-width: 0px) {
        
        
        .grid_1 {
            width:50px;
        }
        .grid_2 {
            width:100px;
        }
        .grid_3 {
            width:150px;
        }
        .grid_4 {
            width:200px;
        }
        .grid_5 {
            width:250px;
        }
        .grid_6 {
            width:300px;
        }
        .grid_7 {
            width:350px;
        }
        .grid_8 {
            width:400px;
        }
        .grid_9 {
            width:450px;
        }
        .grid_10 {
            width:500px;
        }
        .grid_11 {
            width:550px;
        }
        .grid_12 {
            width:600px;
        }
        .grid_13 {
            width:650px;
        }
        .grid_14 {
            width:700px;
        }
        .grid_15 {
            width:750px;
        }
        .grid_16 {
            width:800px;
        }
        .grid_17 {
            width:850px;
        }
        .grid_18 {
            width:900px;
        }
        .grid_19 {
            width:950px;
        }
        .grid_20 {
            width:1000px;
        }
        .grid_21 {
            width:1050px;
        }
        .grid_22 {
            width:1100px;
        }
        .grid_23 {
            width:1150px;
        }
        .grid_24 {
            width:1200px;
        }
    }

