@import url(https://fonts.googleapis.com/css?family=Roboto:400,300&subset=latin,cyrillic);
@import "../css/reset.css";
@import "../css/grid.css";
@import "../fonts/bender/bender.css";
@import "../css/owl.carousel.css";
@import "../css/slick.css";
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%;height: 100%;}

body{
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  line-height:20px;
  height: 100%;
  color: #fafafb;
  min-width:320px;
  background-color: #13171a;
  -webkit-text-size-adjust: none;
}

.global_wrap{
  background: url(../images/main_pattern.png) -2px 20px repeat;
}

.main{
  width: 1320px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000 url(../images/main_pattern.png) -2px 20px repeat;
    z-index: 100500;
}
    #page-preloader .preloader {
        position: absolute;
        left: 50%;
        top: 50%;
        width:35px;
        height:35px;
        display:inline-block;
        padding:0px;
        border-radius:100%;
        border:2px solid;
        border-top-color:rgba(0,244,255, 0.65);
        border-bottom-color:rgba(0,244,255, 0.15);
        border-left-color:rgba(0,244,255, 0.65);
        border-right-color:rgba(0,244,255, 0.15);
        -webkit-animation: preloader 0.8s linear infinite;
        animation: preloader 0.8s linear infinite;
        -webkit-transform: translate(-50% ,-50%);
           -moz-transform: translate(-50% ,-50%);
            -ms-transform: translate(-50% ,-50%);
             -o-transform: translate(-50% ,-50%);
                transform: translate(-50% ,-50%);
    }

@keyframes preloader {
   from {transform: rotate(0deg);}
   to {transform: rotate(360deg);}
}
@-webkit-keyframes preloader {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(360deg);}
}

/*----------------------> Links And buttons <------------------*/
a {
  color: #fafafb;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#01f5fb;
  text-decoration:none;
}

.btn{
  display:inline-block;
  padding: 0 15px;
  margin: 0 0 0;
  font-size: 14px;
  font-weight: 300;
  position: relative;
  text-align: center;
 }


  [data-skin="aqua"]{
    background-color: rgba(1,245,251,.10);
    color: #01f4fb !important;
  }
  [data-skin="aqua"]:hover{
    background-color: rgba(1,245,251,.35);
  }
  [data-skin="aqua"]:active{
    background-color: rgba(1,245,251,.25);
  }
  .aqua_color{
    color: #01F4FB;
  }
   

    /* ---- medium button aqua skin ------*/

    [data-size="medium"]{
      margin-left: 2px;
      margin-right: 2px;
      height: 40px;
      line-height: 40px;
      font-size: 16px;
    }

    [data-size="medium"]:before,
    [data-size="medium"]:after{
      width: 10px;
      height: 100%;
      top: 0;
      display: block;
      position: absolute;
      content: "";
    }

    /* ---- medium button aquaa skin ------*/

    [data-skin="aqua"][data-size="medium"]:before{
      background: url(../images/aqua_med_btn_bef.png) 0 0 no-repeat;
      left: -2px;
      -webkit-background-size: 100% 40px;
      background-size: 100% 40px;
    }
    [data-skin="aqua"][data-size="medium"]:after{
      background: url(../images/aqua_med_btn_aft.png) 0 0 no-repeat;
      right: -2px;
      -webkit-background-size: 100% 40px;
      background-size: 100% 40px;
    }

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase;}
.reg_no {text-transform:none !important;}
.tt_low{text-transform: lowercase;}
.f_left {float:left;}
.f_right {float:right;}
.al_left{text-align: left;}
.al_right {text-align:right;}
.al_center {text-align:center;}
.al_justify {text-align:justify;}

.it{font-style:italic;}
.let{letter-spacing:-1px;}
.let1{letter-spacing:2px;}
.val_mid{vertical-align: middle;}
.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.zi9{z-index: 9;}



.bg_none{
  background-image: none;
}

hr{
  border: none;
  border-top: 1px solid #6BBCCE;
  position: relative;
  margin: 0;
  padding: 0;
  display: block;
}
  .hr_top:before,
  .hr_btm:before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 281px;
    height: 3px;
    background: url(../images/border_top_flash.png) 0 0 no-repeat;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9;
  }

.hr_btm:before{
    -webkit-transform: translateX(-50%) rotate(180deg);
    -moz-transform: translateX(-50%) rotate(180deg);
    -ms-transform: translateX(-50%) rotate(180deg);
    -o-transform: translateX(-50%) rotate(180deg);
    transform: translateX(-50%) rotate(180deg);
    top: auto;
    bottom: 1px;
}
.hr_top.foot_hr{
  border: none;
  height: 1px;
  background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
  .hr_top.foot_hr:before{
    top: 1px;
  }
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}
.p_t_zero{ padding-top:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after,
.row:after{
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}



/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*=====================> Content ========================*/
#content {
  
}
/*=====================> Landing ========================*/
  .first_block{
    min-height: 720px;
    height: 720px;
    position: relative;
    text-align: center;
    padding-bottom: 67px;
    z-index: 9;
  }
  /* video box start */
.bg1{
  overflow: hidden;
  background: url(../images/video_gradient.png);
  -webkit-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
}
.bg1.mobile_bg{
  position: relative;
  background-image: none;
}
.bg1.mobile_bg:after{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(../images/landing_img.jpg);
  z-index: -1;
}
#video_youtube{
  position: absolute;
  /* z-index: 9; */
  z-index: -1;
  opacity: .4;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
/* video box end */
    .first_block:before{
      content: "";
    }
    .first_block:before{
      height: 100%;
      width: 0;
      margin-left: -5px;
      display: inline-block;
      vertical-align: middle;      
    }
    .landing_main_figure{
      display: inline-block;
      vertical-align: middle;
      position: relative;
      z-index: 99;
    }
      .landing_main_logo{
        margin-bottom: 22px;
        display: inline-block;
      }
        .landing_main_logo img{
          
        }
      .landing_main_hgroup{
        
      }
        .landing_main_hgroup h1{
          font-size: 56px;
          line-height: 58px;
        }
        .landing_main_hgroup h4{
          font-weight: 300;
          font-size: 18px;
          line-height: 30px;
          margin-bottom: 39px;
        }
        .landing_main_hgroup a.btn{
          max-width: 174px;
          width: 100%;
        }
        .arrow_down{
          display: none;
        }
        .md_no-touch .arrow_down{
          display: block;
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 60px;
          height: 60px;
          background: url(../images/icon/arrow_down.png) 50% 50% no-repeat;
          -webkit-transform: translateX(-50%);
             -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
               -o-transform: translateX(-50%);
                  transform: translateX(-50%);
          z-index: 10;
          cursor: pointer;
        }
.box-shadow{
  position: relative;
}
  .box-shadow:after{
    content: "";
    position: absolute;
    top: -140px;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 306px;
    background: url(../images/box-shadow.png) 0 0 repeat-x;
  }
  .content_slider_big{
    min-height: 798px;
    position: relative;
    overflow: hidden;
  }
    .content_slider_item{
      min-height: 798px;
      max-height: 798px;
      position: relative;
    }
      .absolute_slide_img_1:after{background-image: url(../images/content_slider_1.png);}
      .absolute_slide_img_2:after{background-image: url(../images/content_slider_2.png);}
      .absolute_slide_img_3:after{background-image: url(../images/content_slider_3.png);}
      .absolute_slide_img_4:after{background-image: url(../images/content_slider_4.png);}
      .absolute_slide_img_5:after{background-image: url(../images/content_slider_5.png);}
      [class*='absolute_slide_img_']:after{
        content: "";
        background-repeat: no-repeat;
        background-position: 50% 50%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.5;
      }
      .absolute_slide_img_1 .content_slider_blocks .left_row > img{
        margin-left: -80px;
        z-index: 2;
      }
      .content_slider_blocks{
      }
      .left_row{
        
      }
      	.pattern_flash_grid{
      		position: absolute;
      		top: 2px;
      		left: -12px;
      		/* background: url(../images/pattern_flash.png) 0 0 no-repeat; */
      		z-index: 1;
      		margin-left: 0 !important;
      		width: 651px;
      		height: 648px;
      		max-width: none !important;
      	}
      	.content_slider_blocks .right_row{
      		position: relative;
      		z-index: 9;
      	}
      .right_row{
        padding-top: 256px;
      }
      .ml-111{
        margin-left: -113px;
      }
      .pt168{
        padding-top: 168px;
      }
      .pt100{
        padding-top: 100px;
      }
      .pl40{
        padding-left: 42px;
      }
      .pl89{
        padding-left: 89px;
      }
        .right_row p{
          font-weight: 300; 
        }
.owl-pagination,
.owl-dots{
    width: 100%;
    margin: auto;
    text-align: center;
    position: absolute;
      bottom: 88px;
      left: 0;
  }
  .owl-pagination:after,
  .owl-dots:after{
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
    .owl-page,
    .owl-dot,
    .owl-dots li{
      width: 17px;
      height: 17px;
      margin: 0 16.5px;
      background: url(../images/paginate_passive.png) 50% 50% no-repeat;
      display: inline-block;
    }
    .owl-page.active,
    .owl-page:hover,
    .owl-dot.active,
    .owl-dot:hover,
    .owl-dots li:hover,
    .owl-dots li.active{
      background: url(../images/paginate_active.png) 0 0 no-repeat;
    }
    .owl-prev,
    .owl-next{
      width: 14px;
      height: 26px;
      left: 38px;
      top: 50%;
      margin-top: -13px;
      position: absolute;
    }
    
    .owl-prev{
      background: url(../images/prev_icon_slide.png) 0 0 no-repeat;
    }
    .owl-next{
      left: auto;
      right: 38px;
      background: url(../images/next_icon_slide.png) 0 0 no-repeat;
    }
    .owl-prev.slick-arrow,
    .owl-next.slick-arrow{
      border: none;
      outline: none;
      z-index: 99;
      padding: 0;
      cursor: pointer;
    }
    .owl-dots li button{
      display: none;
    }
    .slick-list{
      padding: 0 !important;
    }
.bg2,
.bg3{
  position: relative;
}
.bg2:after,
.bg3:after{
  content: "";
  background: url(../images/geksagon.jpg) 50% 50% no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}
  .geksagon_box{
    min-height: 1021px;
    position: relative;
    padding-top: 93px;
    text-align: center;
  }
      .geksagon_figure{
        background: url(../images/geksagon_img.png) 0 0 no-repeat;
        width: 321px;
        height: 278px;
        position: absolute;
        padding: 22px 39px 10px 39px;
      }
      .geksagon_figure:hover,
      .geksagon_figure.hovered{
        background: url(../images/geksagon_img_hover.png) 0 0 no-repeat;
      }
      .geksagon_figure[data-pos="1"]{
        top: 337px;
        left: 93px;
      }
      .geksagon_figure[data-pos="2"]{
        top: 189px;
        left: 354px;
      }
      .geksagon_figure[data-pos="3"]{
        top: 339px;
        left: 612px;
      }
      .geksagon_figure[data-pos="4"]{
        left: 870px;
        top: 488px;
      }
      .geksagon_figure[data-pos="5"]{
        top: 488px;
        left: 354px;
      }
      .geksagon_figure[data-pos="6"]{
        left: 93px;
        top: 637px;
      }
        .gek_icn_box{
          position: relative;
          width: 100px;
          height: 100px;
          vertical-align: bottom;
          margin: 0 auto 21px;
        }
          .gek_icn_box img{
            position: absolute;
            bottom: 0;
            left: 50%;
            -webkit-transform: translateX(-50%);
               -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                 -o-transform: translateX(-50%);
                    transform: translateX(-50%);
          }
          .gek_icn_box img:nth-child(2),
          .geksagon_figure:hover .gek_icn_box img,
          .geksagon_figure.hovered .gek_icn_box img{
            visibility: hidden;
            opacity: 0;
          }
          .geksagon_figure:hover .gek_icn_box img:nth-child(2),
          .geksagon_figure.hovered .gek_icn_box img:nth-child(2){
            visibility: visible;
            opacity: 1;
          }

        .geksagon_text{
          
        }
          .geksagon_text h3{
            font-family: 'benderbold';
            font-size: 22px;
            line-height: 24px;
            color: #76A1B1;          
            margin-bottom: 16px;  
          }
          .geksagon_figure:hover .geksagon_text h3,
          .geksagon_figure.hovered .geksagon_text h3{
            color: #00fdff;
          }
          .geksagon_text p{
            font-size: 16px;
            line-height: 22px;
            color: #87a0a8;
            margin-bottom: 0;
          }
          .geksagon_figure:hover .geksagon_text p,
          .geksagon_figure.hovered .geksagon_text p{
            color: #FFF;
          }

  .content_slider_specialization{
    position: relative;
    min-height: 970px;
    padding: 126px 0px 99px 0px;
  }
  .content_slider_specialization:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../images/slider_bg.jpg) 50% 50% no-repeat;
    z-index: -1;
  }
      .special_title{
        position: absolute;
        width: 432px;
        top: 13.4%;
        left: 44.5%;
      }
    .content_slider_spec_item{
      float: none;
    }
    .specslider .owl-item.active.center .content_slider_spec_item{
      /* margin-left: -68px; */
      /* -webkit-transition: all ease 2s;
         -moz-transition: all ease 2s;
          -ms-transition: all ease 2s;
           -o-transition: all ease 2s;
              transition: all ease 2s; */
    }
    .content_slider_specialization .owl-prev{
      left: 58px;
    }
    .content_slider_specialization .owl-next{
      right: 58px;
    }
    .content_slider_specialization .owl-pagination,
    .content_slider_specialization .owl-dots{
      bottom: 65px;
      bottom: -30px;
    }
      .content_slider_spec_left{
        position: relative;
        display: inline-block;
        float: left;
        margin-top: 38px;
        margin-right: 97px;
      }
        .content_slider_img_box{
          width: 303px;
          height: 707px;
          overflow: hidden;
          position: relative;
        }
        .content_slider_img_box i{
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translateX(-50%) translateY(-50%);
             -moz-transform: translateX(-50%) translateY(-50%);
              -ms-transform: translateX(-50%) translateY(-50%);
               -o-transform: translateX(-50%) translateY(-50%);
                  transform: translateX(-50%) translateY(-50%);
          display: inline-block;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
        }
        .specslider .owl-item.active.center + .owl-item .content_slider_img_box i,
        .specslider .owl-item.active.center + .owl-item .content_slider_img_box i img{
          visibility: visible;
          opacity: 1;
          z-index: 9;
          -webkit-transition: all ease 0.5s;
             -moz-transition: all ease 0.5s;
              -ms-transition: all ease 0.5s;
               -o-transition: all ease 0.5s;
                  transition: all ease 0.5s;
        }
        .specslider .owl-item.active.center + .owl-item .content_slider_img_box img,
        .specslider .owl-item{
          opacity: 0;
          visibility: hidden;
          -webkit-transition: all ease 0.5s;
             -moz-transition: all ease 0.5s;
              -ms-transition: all ease 0.5s;
               -o-transition: all ease 0.5s;
                  transition: all ease 0.5s;
        }
        .specslider .owl-item.active,
        .specslider .owl-item.active.center + .owl-item{
          visibility: visible;
          opacity: 1;
          -webkit-transition: all ease 0.5s;
             -moz-transition: all ease 0.5s;
              -ms-transition: all ease 0.5s;
               -o-transition: all ease 0.5s;
                  transition: all ease 0.5s;
        }
          .content_slider_img_box img{
            
          }
          .miniature_img{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
               -moz-transform: translateX(-50%) translateY(-50%);
                -ms-transform: translateX(-50%) translateY(-50%);
                 -o-transform: translateX(-50%) translateY(-50%);
                    transform: translateX(-50%) translateY(-50%);
          }
          [data-i]{
            position: absolute;
            left: 100%;
          }
          [data-i="1"]{
            top: 180px;
          }
          [data-i="2"]{
            top: 251px;
          }
          [data-i="3"]{
            top: 301px; 
          }

      .content_slider_spec_right{
        overflow: hidden;
      }
        .content_slider_spec_right .title1{
          margin-bottom: 62px;
          visibility: hidden;
        }
        .researcher{
          margin-bottom: 83px;
        }
          .researcher .title3{
            margin-bottom: 32px;
          }
          .researcher_list{
            
          }
            .researcher_list li{

            }
            .researcher_list li:not(:last-child){
              margin-bottom: 26px;              
            }

        .characteristic_box{
          
        }
          .characteristic_box .title4{
            margin-bottom: 32px;            
          }
          .characteristic_list{
            margin-left: 8px;
          }
            .characteristic_list li{
              
            }
            .characteristic_list li:not(:last-child){
              margin-bottom: 24px;
            }
              .character_span{
                padding: 0 7px 0 48px;
                font-family: 'benderregular';
                font-size: 16px;
                line-height: 50px;
                color: #79E2FF;
                position: relative;
                text-align: center;
                display: inline-block;
                background-color: rgba(0, 0, 0, .2);
                border-top: 1px solid #146472;
                border-bottom: 1px solid #146472;
                height: 50px;
              }
              .character_span:before,
              .character_span:after{
                content: "";
                display: inline-block;
                position: absolute;
                top: -1px;
                height: 50px;
                width: 8px;
                -webkit-background-size: 100% 50px;
                     -o-background-size: 100% 50px;
                        background-size: 100% 50px;
              }
              .character_span:before{
                left: -8px;
                background: url(../images/icon/left_ico.png) 0 0 no-repeat;
              }
              .character_span:after{
                right: -8px;
                background: url(../images/icon/right_ico.png) 0 0 no-repeat;
              }
                .character_span i{
                  position: absolute;
                  top: 50%;
                  -webkit-transform: translateY(-50%);
                     -moz-transform: translateY(-50%);
                      -ms-transform: translateY(-50%);
                       -o-transform: translateY(-50%);
                          transform: translateY(-50%);
                  left: 0px;
                  width: 33px;
                  height: 31px;
                }
                  .character_span i img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -webkit-transform: translateY(-50%) translateX(-50%);
                       -moz-transform: translateY(-50%) translateX(-50%);
                        -ms-transform: translateY(-50%) translateX(-50%);
                         -o-transform: translateY(-50%) translateX(-50%);
                            transform: translateY(-50%) translateX(-50%);
                  }
                .character_span span{
                  
                }

.bg3:after{
  background: url(../images/expedition_img.jpg) 50% 50% no-repeat;
  opacity: 1;
  /* z-index: -2; */
  z-index: 1;
}
.bg3:before{
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 318px;
  background: url(../images/light_bottom.png) 0 0 repeat-x;
  z-index: 9;
}
  .expedition_box{
    min-height: 930px;
    text-align: center;
    padding-top: 110px;
    position: relative;
    z-index: 2;
  }
    .expedition_box .title1{
      margin-bottom: 13px;
    }
    .expedition_title{
      font-size: 16px;
      line-height: 49px;
      font-weight: 300;
    }
    .expedition_img1{
      bottom: 69px;
      left: 201px;
      z-index: -1;
    }
    .expedition_img2{
      right: 293px;
      bottom: 81px;
      z-index: -1;
    }

  .university_box{
    min-height: 686px;
    position: relative;
  }
  .university_box:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url(../images/university_img.jpg) 50% 50% no-repeat;
    z-index: -1;
  }
    .university_abs{
      position: absolute;
      bottom: 0;
      left: 0; 
    }
    .university_container{
      width: 1027px;
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 96px;
      padding-bottom: 89px;
      max-width: 100%;
      margin: 0 auto;
    }
      .university_container img{
        margin-right: 54px;
        margin-left: 7px;
      } 
      .university_container .wrapper{
        padding-top: 96px; 
      }
        .university_container .title1{
          letter-spacing: 2px;
          margin-bottom: 29px;
        }
        .university_container p{
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 0;
          font-weight: 300;
          padding-right: 50px;
        }
.bg4{
  position: relative;
  overflow: hidden;
  background: url(../images/join_img.jpg) 50% top no-repeat;
}        
  .join_box{
    height: 468px;
    text-align: center;
    position: relative;
    z-index: 9;
  }
  .join_box div.val_mid{
    position: relative;
    z-index: 8;
  }
  .join_box:before{
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -5px;
    width: 0;
  }
    .join_box .title1{
      text-align: center; 
      margin-bottom: 35px;
    }
    .join_box .btn{
      max-width: 193px;
      width: 100%;
    }
    .join_box [data-size="medium"]:before, 
    .join_box [data-size="medium"]:after{
      background-size: 100% 40px;
    }
/*=====================> Landing ========================*/

/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb-6{margin-bottom: -6px;}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb56{ margin-bottom:56px;}
.mb60{ margin-bottom:60px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb66{ margin-bottom: 66px;}
.mb75{ margin-bottom: 75px;}

.mt7{margin-top: 7px;}
.mt40{margin-top: 40px;}
.mt50{margin-top: 50px;}
.mr31{margin-right: 31px;}
.mr50{margin-right: 50px;}
.mr52{margin-right: 52px;}
.pt44{padding-top: 44px;}
.pt50{padding-top: 50px;}
/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}


.title1{
  font-size: 50px;
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'benderbold';
  font-weight: normal;
}
.title2{
  font-size: 18px;
  line-height: 26px;
}
.title3{
  font-size: 32px;
  line-height: 34px;
  font-family: 'benderbold';
}
.title4{
  font-size: 22px;
  line-height: 24px;
  font-family: 'benderregular';
  letter-spacing: 1px;
}
/*================================>>  FONTS  <<========================================*/

.bend_reg{
  font-family: 'benderregular';
}

.bend_bold{
  font-family: 'benderbold';
}


/*================================>> hovers <<========================================*/
a,
path{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
.sm_skew_box:hover path{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

/*================================>> Footer <<========================================*/
.footer{
  min-height: 161px;
  background: url(../images/footer_bg.jpg) 50% 50% no-repeat;
  padding: 56.5px 71px 56.5px 36px;
} 
  .footer_left{
    width: 450px;
    float: left;
    font-size: 14px;
    line-height: 24px;
  }
    .footer_left .f_left{
      text-transform: uppercase;
      margin-right: 13px;
    }
    .footer_left .wrapper{
      color: #10f1ff;
      text-transform: uppercase;
    }
  .footer_right{
    width: 370px;
    float: right;
    padding: 5.5px 0;
  }
    .footer_right img{
      margin-right: 20px;
      vertical-align: middle;
    }
    .social_box{
      float: right;
      text-align: right;
    }
      .social_icon{
        float: right;
        width: 37px;
        height: 37px;
        display: inline-block;
      }
      [data-soc="vk"]{
        background: url(../images/social_vk.png) 0 0 no-repeat;
      }
      [data-soc="fc"]{
        background: url(../images/social_fc.png) 0 0 no-repeat; 
        margin-left: 19px;
      }

/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  /* display: none; */
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    /* cursor:url(grabbing.png) 8 8, move; */
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* responsive start */
@media only screen and (max-width:1920px){
	.pattern_flash_grid{
		left: -53px;
	}
}
@media only screen and (max-width: 1640px){
	.pattern_flash_grid{
		left: -50px;
	}
}
@media only screen and (max-width:1460px){
	.pattern_flash_grid{
		left: -59px;
	}
}
@media only screen and (max-width:1440px){
	.pattern_flash_grid{
		left: -49px;
	}
}
@media only screen and (max-width:1366px){
	.pattern_flash_grid{
		left: -63px;
	}
  .absolute_slide_img_2 .grid_13.left_row.pl89 img,
  .absolute_slide_img_3 .grid_13.left_row.pl89 img,
  .absolute_slide_img_4 .grid_13.left_row.pl89 img,
  .absolute_slide_img_5 .grid_13.left_row.pl89 img{
    max-width: 100%;
  }
}
@media only screen and (max-width:1320px){
  .main {
    width: 1250px;
  }
  .specslider .owl-item.active.center .content_slider_spec_item{
    margin-left: 0;
  }
  .special_title {
      position: absolute;
      width: 432px;
      top: 7.5%;
      left: 43.3%;
  }
  .geksagon_figure[data-pos="1"],
  .geksagon_figure[data-pos="6"]{
    left: 60px;
  }
  .geksagon_figure[data-pos="2"],
  .geksagon_figure[data-pos="5"]{
    left: 323px;
  }
  .geksagon_figure[data-pos="3"]{
    left: 585px;
  }
  .geksagon_figure[data-pos="4"] {
    left: 846px;
    top: 488px;
  }
  .content_slider_item,
  .owl-carousel .owl-item{
    overflow: hidden;
  }
  .content_slider_blocks .grid_14,
  .content_slider_blocks .grid_11,
  .content_slider_blocks .grid_13{
    width: 50%;
  }
  .content_slider_blocks .grid_10{
    width: 49%;
  }
  .content_slider_blocks .grid_11{
    margin-left: 0;
    padding-right: 55px;
  }
  .left_row.pt50{
    padding-top: 160px;
  }
  .left_row img.p_rel{
    max-width: 100%;
  }
  .expedition_img2{
    right: 225px;
  }
  .expedition_img1 {
      bottom: 200px;
      left: 171px;
  }
  
}
@media only screen and (max-width:1250px){
  .main{
    width: 1020px;
  }
  .geksagon_box{
    margin-left: 2%;
  }
  .geksagon_figure[data-pos="1"], 
  .geksagon_figure[data-pos="6"] {
      left: 50px;
  }
  .geksagon_figure[data-pos="2"], 
  .geksagon_figure[data-pos="5"] {
    left: 315px;
  } 
  .geksagon_figure[data-pos="3"] {
    left: 577px;
  }
  .geksagon_figure[data-pos="4"]{
    left: 577px;
    top: 640px;
  }
}
@media only screen and (max-width:1230px){
  .absolute_slide_img_2 .grid_13.left_row.pl89{
    padding-left: 0;
  }
}
@media only screen and (max-width:1200px){
	.pattern_flash_grid{
		left: -180px;
	}
}
@media only screen and (max-width:1199px){
  .geksagon_box {
      margin-left: 1%;
  }
  .special_title {
    position: static;
    width: auto;
    text-align: center;
	}
  .content_slider_blocks .grid_14, 
  .content_slider_blocks .grid_11, 
  .content_slider_blocks .grid_13,
  .content_slider_blocks .grid_10{
    width: 50%;
    display: block;
    float: none;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
  .absolute_slide_img_1 .content_slider_blocks .grid_14,
  .absolute_slide_img_1 .content_slider_blocks .grid_11{
    float: left;
  }
  .absolute_slide_img_1 .left_row img,
  .absolute_slide_img_2  .left_row img{
      max-width: inherit;
  }
  .absolute_slide_img_2 .content_slider_blocks .grid_13,
  .absolute_slide_img_3 .content_slider_blocks .grid_13,
  .absolute_slide_img_4 .content_slider_blocks .grid_13,
  .absolute_slide_img_5 .content_slider_blocks .grid_13{
    width: 100%;
  }
  .absolute_slide_img_4 .content_slider_blocks .grid_13{
    text-align: center;
  }
  .absolute_slide_img_3 .content_slider_blocks .grid_13.left_row img:first-child{
    float: left;
    margin-bottom: 0;
  }
  .absolute_slide_img_3 .content_slider_blocks .grid_13.left_row img:last-child{
    float: right;
    margin-top: -112px;
  }
  .absolute_slide_img_2 .content_slider_blocks .grid_11,
  .absolute_slide_img_3 .content_slider_blocks .grid_10,
  .absolute_slide_img_4 .content_slider_blocks .grid_11,
  .absolute_slide_img_5 .content_slider_blocks .grid_10{
    width: 90%;
    text-align: center;
  }
  .absolute_slide_img_2 .content_slider_blocks .grid_11 .title1 br,
  .absolute_slide_img_3 .content_slider_blocks .grid_10 .title1 br,
  .absolute_slide_img_4 .content_slider_blocks .grid_11 .title1 br,
  .absolute_slide_img_5 .content_slider_blocks .grid_10 .title1 br,
  .dn-1199{
    display: none;
  }
  .db-1199{
    display: inline-block;
  }
  .absolute_slide_img_1 .left_row.pt50{
    padding-top: 50px;
  }
  .absolute_slide_img_1 .right_row {
      padding-top: 256px;
  }
  .geksagon_figure[data-pos="1"], 
  .geksagon_figure[data-pos="6"]{
    left: 65px;
  }
  .geksagon_figure[data-pos="2"],
  .geksagon_figure[data-pos="5"]{
    left: 325px;
  }
  .geksagon_figure[data-pos="3"],
  .geksagon_figure[data-pos="4"]{
    left: 585px;
  }
  .geksagon_figure[data-pos="4"]{
    top: 637px;
  }
  .left_row{
    text-align: center;
  }
  .right_row{
    padding-top: 30px;
  }
  .absolute_slide_img{
    height: 100%;
  }
  .content_slider_item{
    padding-bottom: 100px;
  }
  .content_slider_big .owl-prev, 
  .content_slider_big .owl-next{
    top: auto;
    bottom: 85px;
  }
  .content_slider_specialization .title1.d_none{
    display: block;
    text-align: center;
  }
  .content_slider_specialization{
    padding-top: 50px;
  }
  .expedition_img2 {
      right: 120px;
  }
  .expedition_img1 {
      bottom: 200px;
      left: 70px;
  }
  .content_slider_big .owl-nav{
    z-index: 999;
    position: relative;
  }
  [class*='absolute_slide_img_']:after{
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .absolute_slide_img_1 .content_slider_blocks .left_row > img{
    margin-left: -190px;
  }
  .specslider .owl-item.active.center .content_slider_spec_item{
    margin-left: 0;
  }
}
@media only screen and (max-width:1030px){
   .geksagon_box {
      margin-left: 5px;
  }
}
@media only screen and (max-width:1024px){
	.pattern_flash_grid{
		left: -198px;
	}
}
@media only screen and (max-width:991px){
  .main {
      width: 700px;
  }
  .content_slider_blocks .left_row img{
    max-width: 100%;
  }
  .content_slider_spec_item{
    width: 100%;
  }
  .specslider .owl-item.active.center + .owl-item .content_slider_img_box img/* ,
  .specslider .owl-item */{
    visibility: visible;
    opacity: 1;
  }
  .resp_none_1199{display: none;}
  .content_slider_blocks .grid_14, 
  .content_slider_blocks .grid_11, 
  .content_slider_blocks .grid_13, 
  .content_slider_blocks .grid_10{
    width: 100%;
    float: none;
  }
  .absolute_slide_img_1 .left_row img, 
  .absolute_slide_img_2  .left_row img{
    max-width: 100%;
  }
  .absolute_slide_img_1 .right_row{
    padding-top: 0;
  }
  .geksagon_box{
    padding-top: 62px;
    min-height: 1205px;
    background-size: 100% 100%;
  }
  .geksagon_figure {
      background: url(../images/geksagon_img_hover.png) 0 0 no-repeat;
  }
  .geksagon_figure .gek_icn_box img:nth-child(2) {
      visibility: visible;
      opacity: 1;
  }
  .gek_icn_box img:nth-child(2), 
  .geksagon_figure .gek_icn_box img ,
  .specslider .owl-item.active.center + .owl-item{
      visibility: hidden;
      opacity: 0;
  }
  .geksagon_figure .geksagon_text p {
      color: #FFF;
  }
  .geksagon_figure .geksagon_text h3 {
      color: #00fdff;
  }
  .geksagon_box .title1{
    font-size: 40px;
    margin-left: -20px;
  }
  .geksagon_figure[data-pos="1"] {
      top: 148px;
      left: 20px;
  }
  .geksagon_figure[data-pos="2"] {
      top: 299px;
      left: 281px;
  }
  .geksagon_figure[data-pos="3"] {
      top: 450px;
      left: 20px;
  }
  .geksagon_figure[data-pos="4"] {
      left: 280px;
      top: 601px;
  }
  .geksagon_figure[data-pos="5"] {
      top: 750px;
      left: 20px;
  }
  .geksagon_figure[data-pos="6"] {
      left: 280px;
      top: 902px;
  }
  .expedition_img1,
  .expedition_img2{
    max-width: 30%;
    left: 50px;
  }
  .expedition_img2{
    left: auto;
    right: 100px;
  }
  .university_abs{
    display: none;
  }
  .university_container img{
    margin-right: 103px;
    max-width: 100%;
    float: none;
  }
  .university_container .wrapper{
    float: none;
    text-align: left;
    padding-top: 45px;
  }
  .university_container{
    padding-top: 45px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
  }
  .university_container p{
    padding-right: 0;
  }
  .footer{
    padding: 25px 20px;
  }
  .footer_left,
  .footer_right{
    float: none;
    margin: auto;
    max-width: 100%;
  }
  .footer_right{
    margin-bottom: 10px;
  }
  .content_slider_spec_left{
    margin-right: 50px;
  }
  .specslider .grid_19 {
      width: 660px;
  }
  [data-i]{
    display: none;
  }
  .researcher_list li{
    position: relative;
  }
  .researcher_list li:before{
    content: "";
    width: 8px;
    height: 9px;
    background: url(../images/icon/marker_icon.png) 0 0 no-repeat;
    margin-left: -27px;
    position: absolute;
    left: 0;
    top: 8px;
  }
  .specslider .owl-item.active.center .content_slider_spec_item{
    margin-left: 0px;
    /* padding-left: 20px; */
  }
  .content_slider_img_box{
    width: 260px;
    height: 606px;
  }
  .miniature_img{
    max-width: 80%;
  }
  .content_slider_spec_right{
    margin-top: 38px;
  }
  .content_slider_img_box img:first-child{
    max-width: 100%;
    height: 100%;
  }
  .title4{
    font-size: 18px;
    line-height: 20px;
  }
  .researcher_list li:not(:last-child){
    margin-bottom: 15px;
  }
  .researcher{
    margin-bottom: 50px;
  }
  .content_slider_specialization{
    padding-bottom: 0;
    min-height: 890px;
  }
  .content_slider_specialization .owl-next,
  .content_slider_specialization .owl-prev{
    top: auto;
    bottom: -30px;
    margin-top: 0;
  }
  .owl-nav{
    z-index: 999;
    position: relative;
  }
  .bg2,
  .university_box:before{
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .absolute_slide_img_1 .content_slider_blocks .left_row > img {
      margin-left: 0;
  }
  .absolute_slide_img_1 .left_row.pt50 {
      padding-top: 50px;
      height: 435px;
  }
  .absolute_slide_img_1 .content_slider_blocks .left_row > img{
    max-height: 100%;
  }
  .content_slider_item {
      padding-bottom: 50px;
      min-height: 850px;
      max-height: 850px;
  }
  .absolute_slide_img_2 .content_slider_blocks .grid_11,
  .absolute_slide_img_3 .content_slider_blocks .grid_10,
  .absolute_slide_img_4 .content_slider_blocks .grid_11,
  .absolute_slide_img_5 .content_slider_blocks .grid_10{
    padding-top: 20px;
  }
  .bg2:after{
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .geksagon_box {
      margin-left: 20px;
  }
  .pattern_flash_grid{
	    left: 8px;	
	    top: -98px;
  }
}
@media only screen and (max-width:767px){
  .absolute_slide_img_2 .content_slider_blocks .grid_11, 
  .absolute_slide_img_3 .content_slider_blocks .grid_10, 
  .absolute_slide_img_4 .content_slider_blocks .grid_11, 
  .absolute_slide_img_5 .content_slider_blocks .grid_10{
    text-align: left;
    width: 100%;
  }
  .landing_main_hgroup h4{
    font-size: 28px;
    line-height: 35px;
  }
  .content_slider_blocks .grid_14, 
  .content_slider_blocks .grid_11, 
  .content_slider_blocks .grid_13, 
  .content_slider_blocks .grid_10{
    width: 100%;
    padding-left: 20px;  
    padding-right: 20px;  
  }
  .content_slider_blocks .title1{
    font-size: 70px;
  }
  .content_slider_blocks .title2{
    font-size: 25px;
    line-height: 35px;
  }
  .main {
      width: 620px;
  }
  .content_slider_item{
    min-height: 1200px;
    max-height: 1200px;
  }
  .geksagon_box {
      margin-left: 0;
  }
  .geksagon_box .title1{
      font-size: 70px;
      line-height: 75px;
      margin-bottom: 30px;
  } 
  .title1{
    font-size: 70px;
    line-height: 75px;
  }
  .geksagon_box{
    padding-bottom: 30px;
    min-height: 1405px;
  }
  .expedition_img1{
    bottom: 320px;
    left: 0;
    max-width: 33%;
  }
  .expedition_img2{
    right: 76px;
    bottom: 22px;
    max-width: 45%;
  }
  .expedition_title{
    margin-top: 30px;
    font-size: 28px;
    line-height: 50px;
  }
  .university_container img{
    margin-right: 98px;
    max-width: 67.2%;
  }
  .university_container .title1{
    font-size: 53px;
    line-height: 60px;
  }
  .university_container p{
    font-size: 25px;
    line-height: 35px;
  }
  .footer_left .f_left{
    margin-right: 0;
    float: none;
  }
  .content_slider_specialization{
    min-height: 945px;
  }
  .content_slider_specialization .owl-next, 
  .content_slider_specialization .owl-prev{
    bottom: -51px;
  }
  .footer{
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .bg3:after{
    background: url(../images/expedition_img_mob.jpg) 50% 50% no-repeat;  
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
  }
  .expedition_box{
    padding-top: 58px;
  }
  .expedition_title{
    margin-top: 0;
  }
  .specslider .grid_19 {
      width: 390px;
  }
  .content_slider_spec_right{
    width: auto;
    margin-top: 0px;
    padding-top: 35px;
  }
  .content_slider_spec_left{
    margin-top: 25px;
    margin-right: 10px;
    font-size: 16px;
    line-height: 18px;
  }
  .researcher .title3 {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 32px;
  }
  .researcher_list li{
    padding-left: 20px;
  }
  .researcher_list li:before{
    margin-left: 0;
  }
  .researcher {
      margin-bottom: 20px;
  }
  .characteristic_box .title4 {
      margin-bottom: 20px;
  }
  .characteristic_list li:not(:last-child),
  .characteristic_list li:last-child{
    margin-bottom: 15px;
  }
  .specslider{
    padding-bottom: 50px;
  }
  .content_slider_specialization .owl-pagination{
    bottom: 22px;
  }
  .content_slider_specialization .owl-dots{
    bottom: 0;
  }
  .bg2 {
      background: url(../images/geksagon_mini.jpg) 50% 50% no-repeat;
      -webkit-background-size: cover;
           -o-background-size: cover;
              background-size: cover;
  }
  [data-size="medium"]{
      margin-left: 2px;
      margin-right: 2px;
      height: 63px;
      line-height: 63px;
      font-size: 25px;
    }
    [data-size="medium"]:before, 
    [data-size="medium"]:after{
      width: 16px;
    }

    /* ---- medium button aquaa skin ------*/

    [data-skin="aqua"][data-size="medium"]:before{
      background: url(../images/aqua_med_btn_bef2.png) 0 0 no-repeat;
      left: -2px;
      -webkit-background-size: inherit;
      background-size: inherit;
    }
    [data-skin="aqua"][data-size="medium"]:after{
      background: url(../images/aqua_med_btn_aft2.png) 0 0 no-repeat;
      right: -2px;
      -webkit-background-size: inherit;
      background-size: inherit;
    }
    .landing_main_hgroup a.btn{
      max-width: 273px;
    }
    .geksagon_figure[data-pos="1"] {
        top: 290px;
        left: 0px;
    }
    .geksagon_figure[data-pos="2"]{
        top: 439px; 
        left: 260px;
    }
    .geksagon_figure[data-pos="3"]{
        top: 590px; 
        left: 0px;
    }
    .geksagon_figure[data-pos="4"]{
        top: 740px; 
        left: 260px;
    }
    .geksagon_figure[data-pos="5"]{
        top: 890px; 
        left: 0px;
    }
    .geksagon_figure[data-pos="6"]{
        top: 1040px; 
        left: 260px;
    } 
  .join_box .btn{
    font-size: 22px;
    line-height: 56px;
    max-width: 269px;
  }
  .join_box .btn:before{
    background: url(../images/aqua_med_btn_bef3.png) 0 0 no-repeat;
  }
  .join_box .btn:after{
    background: url(../images/aqua_med_btn_aft3.png) 0 0 no-repeat;
  }
  .join_box [data-size="medium"]{
    height: 56px;
  }
  .social_icon {
    height: 62px;
    width: 62px;
  }
  .social_box{
    margin-top: -67px;
  }
  .absolute_slide_img_1:after{
    background-image: url(../images/content_slider_1_mob.jpg);
  }
  .absolute_slide_img_2:after{
    background-image: url(../images/content_slider_2_mob.jpg);
  }
  .absolute_slide_img_3:after{
    background-image: url(../images/content_slider_3_mob.jpg);
  }
  .absolute_slide_img_4:after{
    background-image: url(../images/content_slider_4_mob.jpg);
  }
  .absolute_slide_img_5:after{
    background-image: url(../images/content_slider_5_mob.jpg);
  }
  [data-soc="vk"] {
    background: url(../images/social_vk_mob.png) 0 0 no-repeat;
  }
  [data-soc="fc"] {
    background: url(../images/social_fc_mob.png) 0 0 no-repeat;
    margin-left: 33px;
  }
  .footer_left{
    float: none;
    margin: 0; 
    max-width: inherit;
  }
  .footer_right{
    float: right;
    width: 100%;
  }
  .pattern_flash_grid{
  	left: -71px;
  }
}
@media only screen and (max-width:620px){
  .geksagon_figure{
    width: 255px;
    height: 220px;
    background-size: contain !important;
  }
  .gek_icn_box img{
    max-width: 100%;
  }
  .geksagon_figure[data-pos="5"] .gek_icn_box img{
    max-width: 60%;
  }
  .geksagon_text h3{
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 20px;
  }
  .gek_icn_box{
    width: 55px;
    height: 55px;
    padding-top: 10px;
    margin-bottom: 2px;
  }
  .geksagon_figure[data-pos="1"] {
      top: 270px;
      left: 60px;
  }
  .geksagon_figure[data-pos="2"] {
      top: 390px;
      left: 260px;
  }
  .geksagon_figure[data-pos="3"] {
      top: 505px;
      left: 60px;
  }
  .geksagon_figure[data-pos="4"] {
      top: 625px;
      left: 260px;
  }
  .geksagon_figure[data-pos="5"] {
      top: 740px;
      left: 60px;
  }
  .geksagon_figure[data-pos="6"] {
      top: 858px;
      left: 260px;
  }
  .geksagon_box{
    min-height: 1125px;
  }
  .pattern_flash_grid{
  	left: -47px;
  }
}
@media only screen and (max-width:605px){
  .geksagon_figure{
    position: static;
    margin: 0 auto 15px;
  }
  .social_box {
      margin-top: 0px;
  }
  [data-soc="fc"]{
    margin-left: 15px;
  }
  .landing_main_hgroup h1,
  .content_slider_blocks .title1,
  .title1,
  .geksagon_box .title1,
  .university_container .title1{
    font-size: 40px;
    line-height: 42px;
  }
  .landing_main_hgroup h4,
  .title2,
  .content_slider_blocks .title2,
  .expedition_title,
  .university_container p{
    font-size: 22px;
    line-height: 28px;
  }
  .content_slider_item {
      min-height: 1000px;
      max-height: 1000px;
  }
}
@media only screen and (max-width:550px){
  .content_slider_img_box {
      width: 218px;
      height: 515px;
  }
  .content_slider_specialization {
      min-height: 845px;
  }
}
@media only screen and (max-width:505px){
  .content_slider_img_box {
      width: 140px;
      height: 300px;
  }
}
@media only screen and (max-width:479px){
  .footer_right{
    margin-bottom: 0;
    text-align: center;
  }
  .landing_main_hgroup h4 {
    font-size: 16px;
    line-height: 20px;
  }
  .first_block{
    padding-bottom: 0;
    height: 530px;
  }
  .first_block:after{
    -webkit-background-size: 1000px 100%;
         -o-background-size: 1000px 100%;
            background-size: 1000px 100%;
  }
  .owl-page {
    margin: 0 6.5px;
  }
  .footer_left{
    text-align: center;
  }
  .title1,
  .content_slider_blocks .title1{
    font-size: 30px;
  }
  .university_container img{
    margin-right: 0;
    margin-left: -50px;
    max-width: 85%;   
  }
  .social_box{
    float: none;
    text-align: center;
    margin-top: 20px;
  }
  .footer_right img{
    margin-right: 10px;
  }
  .social_icon{
    float: none;
  }
  [data-soc="fc"]{
    margin-right: 15px;
    margin-left: 0;
  }
  .expedition_box{
    min-height: 740px;
    padding-top: 50px;
  }
  .expedition_img2{
    bottom: 135px;
    right: 15px;
  }
  .title2 {
      font-size: 14px;
      line-height: 22px;
  }
  .content_slider_big, 
  .content_slider_item {
      /* min-height: 850px;
      max-height: 850px; */
  }
  .owl-page, 
  .owl-dot,
  .owl-dots li{
    margin: 0 5.5px;
  }
  .specslider .grid_19 {
      width: 280px;
  }
  .absolute_slide_img_1 .left_row.pt50{
    height: auto;
  }
  .landing_main_hgroup h4, 
  .title2, 
  .content_slider_blocks .title2, 
  .expedition_title, 
  .university_container p{
    font-size: 18px;
  }
  .content_slider_blocks .title2{
    font-size: 16px;
  }
  .landing_main_hgroup h1, 
  .content_slider_blocks .title1, 
  .title1, 
  .geksagon_box .title1, 
  .university_container .title1{
    font-size: 30px;
    line-height: 38px;
  }
  .pattern_flash_grid{
  	left: -97px;
  	top: -108px;
  }
}
@media only screen and (max-width:430px){
  .content_slider_spec_left{
    float: none;
    width: 100%;
    display: block;
    margin-right: 0;
  }
  .content_slider_specialization{
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .content_slider_specialization .owl-next, 
  .content_slider_specialization .owl-prev {
      bottom: 15px;
  }
  .content_slider_specialization .owl-dots {
      bottom: 17px;
  }
  .specslider .owl-item{
    visibility: visible;
    opacity: 1;
  }
  .content_slider_spec_right{
    overflow: inherit;
  }
  .content_slider_img_box img:first-child{
    display: none;
  }
  .content_slider_img_box{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#43e4ff+0,43e4ff+50,43e4ff+100&1+0,0+50,1+100 */
    background: -moz-linear-gradient(top,  rgba(67,228,255,.8) 0%, rgba(67,228,255,0) 50%, rgba(67,228,255,.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(67,228,255,.8) 0%,rgba(67,228,255,0) 50%,rgba(67,228,255,.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(67,228,255,.8) 0%,rgba(67,228,255,0) 50%,rgba(67,228,255,.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43e4ff', endColorstr='#43e4ff',GradientType=0 ); /* IE6-9 */
  }
  .content_slider_img_box{
    position: relative;
    width: 100%;
    height: 400px;
    text-align: center;
    line-height: 400px;
  }
  .content_slider_img_box:before,
  .content_slider_img_box:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/flashh.png) 0 0 repeat-x;
    background-size: 100% 100%;
    z-index: 1;
    height: 400px;
    width: 100%;
  }
  .content_slider_img_box:after{
    top: auto;
    bottom: 0;
  }
  .miniature_img{
    max-width: 145px;
    display: inline-block !important;
    vertical-align: middle;
    position: static;
    -webkit-transform: translate(0, 0);
       -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
         -o-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@media only screen and (max-width:410px){
  .content_slider_specialization{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media only screen and (max-width:320px){
	.pattern_flash_grid {
	    left: -197px;
	    top: -208px;
	}
}
/* responsive end */



